@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.backgroundImage{
    background-image: url("./assets/heroImage3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.sizess{
    size: 100px;
}